*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container{
    width: 65%;
    margin: 0 auto;
}

header{
    width: 100%;
    background-color: lightgrey;
    position: sticky;
    top: 0%;

    nav{
        width: 70%;
        margin: 0 auto;

        .nbar{
            display: none;
        }

        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;

        }
        
        li{
            list-style: none;
           
        }

        a{
            text-decoration: none;
            color: gray;
        }

        li:hover a{
            color: #000;
        }
    }
}

.heading-1{
    width: 100%;
    text-align: center;
    padding: 30px 0px;

    h1{
       letter-spacing: 8px; 
    }

    p{
        font-size: 17px;
        letter-spacing: 2.5px;
        color: gray;
    }
}

.img-1{
    width: 100%;

    img{
        width: 100%;
    }
}

.paira{
    width: 100%;
    padding: 70px 0px;
    text-align: center;

    h2{
        margin-bottom: 20px;
    }

    p{
        margin-bottom: 30px;
        line-height: 25px;  
    }

    button{
        padding: 7px 30px;
        background-color: lightgrey;
        border: none;
        font-weight: 600;

        a{
            text-decoration: none;
            color: #fff;
        }
    }

    button:hover{
        background-color: gray;
    }
}

.full{
    width: 100%;
    display: flex;
    flex-direction: row;

.same{
    width: 33.33%;

    img{
        width: 100%;
    }

     img:hover {
        filter: brightness(70%);
    }
}
}

.img-2{
    width: 100%;

    img{
        width: 100%;
    }
}

footer{
    width: 100%;
    background-color: gray;
    padding: 25px;

    p{
        color: #fff;
        font-weight: lighter;
        text-align: center
    }
}

@media (max-width: 1285px){
    .container {
        width: 75%;
      }
}

@media (max-width: 990px){
    header nav {
        width: 100%;
      }   
}

@media (max-width: 800px){
    .container {
        width: 100%;
      }

      .paira {
        padding: 50px 0px;
      }
}

@media (max-width: 600px){
    header nav .nbar {
        display: block;
        padding: 15px;
        font-size: 25px;
      }

      header nav li:hover a {
         border: 1px solid black;
         padding: 10px;
      }

      header nav ul {
          display: none;
          width: 100%;
          height: 90vh;
          text-align: center;
          font-size: 22px;
      }

      header nav li {
          margin-top: 65px;
      }

      .full{
        flex-direction: column;
    }

    .full .same {
      width: 100%;
    }
}

@media (max-width: 480px){
    .paira {
        padding: 30px 0px;
      }
}
